<div class="im">
  <table border="0" cellspacing="0" cellpadding="0"
    style="font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:14px;color:#272727;line-height:1.45;letter-spacing:normal;margin:0 0 20px 0;background:none;border:0;margin:20px auto;width:500px">
    <tbody>
      <tr>
        <td style="background:none;border:0;width:500px;margin:0;padding:0;text-align:right">
          <table border="0" cellspacing="0" cellpadding="0"
            style="font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:14px;color:#272727;line-height:1.45;letter-spacing:normal;margin:0 0 20px 0;background:none;border:0;margin:0;width:100%">
            <tbody>
              <tr>
                <td
                  style="background:#ffffff;border:1px solid #d9d9d9;border-bottom:0;border-radius:7px 7px 0 0;margin:0;padding:0;text-align:right;width:500px">
                  <table border="0" cellspacing="0" cellpadding="0"
                    style="font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:14px;color:#272727;line-height:1.45;letter-spacing:normal;margin:0 0 20px 0;background:none;border-collapse:collapse;border:0;margin:0;width:100%">
                    <tbody>
                      <tr>
                        <td
                          style="background:none;border:0;margin:0;padding:0 10px;text-align:right;vertical-align:middle">
                          <strong
                            style="font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:14px;color:#272727;line-height:1.45;letter-spacing:normal;margin:0;font-weight:bold;direction:rtl;display:inline-block">
                        تاكيد علي الحذف
                          </strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>

              <tr>
                <td style="background:#f8f8f8;border:1px solid #d9d9d9;margin:0;padding:0;text-align:right;width:500px">
                  <table border="0" cellspacing="0" cellpadding="0"
                    style="font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:14px;color:#272727;line-height:1.45;letter-spacing:normal;margin:0 0 20px 0;background:none;border-collapse:collapse;border:0;margin:0;padding:0;width:100%">
                    <tbody>
                      <tr>
                        <td
                          style="background:none;border:0;margin:0;padding:15px 10px 25px;text-align:right;vertical-align:top;text-align:right;direction:rtl">
                          <br>
                          <p
                            style="font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:14px;color:#272727;line-height:1.45;letter-spacing:normal;margin:0 0 20px 0">
                            مرحبًا <span><%= name%> </span>
                          </p>
                          <p
                            style="font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:14px;color:#272727;line-height:1.45;letter-spacing:normal;margin:0 0 20px 0">
                            يرجى تأكيد  الحذف عن طريق النقر على الرابط التالي: &nbsp;
                            <a href="<%= link%>" style="color:#8cc63f;font-weight:bold;text-decoration:none"
                              target="_blank">تأكيد الحذف</a>
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>

            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
